.enca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    height: 10vh;
}

.enca div img{
    height: 10vh;
}

.barra{
    background-color: #000000;
}
.texto{
    color: white;
}
.fondo-texto{
    background-color: white;
}

.titulo{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color:  #7b061c;
    
}
.titulo h1{
    font-size: 1.5rem;
}
.titulo div{
    height: 10vh;
}

.img-titulo{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
}

.img-titulo a{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
}




@media (max-width: 768px) {
    .titulo{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 1750px) {
    .titulo h1{
        font-size: 1rem;
    }

    
}
@media (max-width: 500px) {
    .enca div{
        height: 10vh;
    }
}